html, body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar, header, footer {
    background-color: #9b5de5;
    color: white;
}

.navbar {
    padding: 16px 0;
}

.navbar img {
    max-height: 65px;
}

.navbar a {
    margin-left: 1.5rem;
}

.navbar a:hover {
    color: #00f5d4;
    text-shadow: 2px 2px 4px white;
}

.navbar-inner, .header-inner {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */

header {
    padding: 4rem 0;
    text-align: center;
}

header h1 {
    font-size: 54px;
    font-weight: 900;
}

header p {
    color: #E5E7EB;
    font-size: 36px;
}

header .small {
    font-size: 16px;
    font-style: italic;
}

header img {
    width: 500px; /* DA SISTEMARE */
    height: 300px; /* DA SISTEMARE */
    background-color: gray; /* PLACEHOLDER */
    text-align: center; /* PLACEHOLDER */
}

button, .call-to-act {
    background-color: #f15bb5;
    color: white;
    font-size: 24px;
}

header button {
    border: none;
}

button {
    padding: 10px 20px;
}

button, .random-info img, .call-to-act {
    border-radius: 8px;
}

h2 {
    color: #9b5de5;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.random-info-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.random-info img {
    border: 3px solid #f15bb5;
    width: 150px;
    height: 150px;
    display: block;
}

.random-info p {
    max-width: 150px;
}

.random-info, .quote {
    max-width: 60vw;
    margin: 0 auto;
}

.random-info, .quote-background {
    padding: 3rem 0;
}

.quote-background {
    background-color: #00f5d4;
}

.quote em {
    font-family: "Roboto light";
    font-size: 36px;
}

.quote p {
    text-align: end;
    font-weight: 900;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

.call-to-act {
    max-width: 80vw;
    margin: 64px auto;
    padding: 20px 0;
}

.call-to-act-inner {
    max-width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-act button {
    border: 2px solid white;
}

footer {
    text-align: center;
    padding: 30px 0;
}





/* .hero {
    background-color: #00bbf9;
} */
